.container {
    position: fixed;
    top: 12; /* Position at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    width: 89%;
    min-height: 85vh;
    background: linear-gradient(135deg, #621e88, #c8acf8);
    padding: 10px;
    border-radius: 10px;
}

/* Define styles for a button */
.btn1 {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007BFF; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
    text-align: center; /* Center-align text */
    text-decoration: none; /* Remove underline */
}
.btn2 {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #049d16; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
    text-align: center; /* Center-align text */
    text-decoration: none; /* Remove underline */
}

/* Style the button on hover */
.btn:hover {
    
    background-color: #0056b3; /* Change background color on hover */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* .table th {
    background-color: #f5f5f5;
  } */
  
  /* .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #e0e0e0;
  } */
